/*------------------------------------
    Header
------------------------------------*/


@media (max-width: 992px) {
    .app-header {
        .button-menu {
            display: block;
        }

        .header-menu,
        .button-login {
            display: none !important;
        }
    }
}

.header-light {
    .button-menu {
        span {
            background-color: #fff;

            &:before,
            &:after {

                background-color: #fff;
            }
        }
    }
}
