/*------------------------------------
    Header
------------------------------------*/

.app-header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    position: absolute;
    background-color: transparent;


    .header-wrap {
        height: 90px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;

        .header-left,
        .header-right {
            display: flex;
            align-items: center;
            align-content: center;
        }

        .header-logo {
            overflow: hidden;
            margin-right: 45px;

            a {
                display: block;
                font-weight: 700;

            }
        }

        .header-menu {
            & > ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    font-size: 16px;
                    font-weight: 500;
                    margin-right: 36px;
                }
            }
        }
    }

    &.app-header-1 {

        ul li {
            color: $text-color;
        }
    }

    .button-menu {
        float: right;
        width: 45px;
        height: 45px;
        display: none;
        cursor: pointer;

        span {
            width: 36px;
            height: 2px;
            float: right;
            z-index: 3;
            display: block;
            position: relative;
            background-color: #000;

            &:before,
            &:after {
                width: 36px;
                height: 2px;
                float: right;
                z-index: 3;
                display: block;
                position: relative;
                background-color: #000;
            }

            &:before {
                top: -12px;
                width: 30px;
                content: "";
            }

            &:after {
                width: 30px;
                bottom: -10px;
                content: "";
            }
        }
    }
}

@media (max-width: 992px) {
    .app-header {
        .button-menu {
            display: block;
        }

        .header-menu,
        .button-login {
            display: none !important;
        }
    }
}

.header-light {
    .button-menu {
        span {
            background-color: #fff;

            &:before,
            &:after {

                background-color: #fff;
            }
        }
    }
}
